# Ignore flake.lock if you want it regenerated on each machine
# Otherwise, track it for reproducible builds
#flake.lock

# Editor/OS junk
*.swp
*.bak
.DS_Store

/extras/temp
/archive/**

# Local secret outputs and env artifacts
/secrets/*.dec
/secrets/**/*.dec
/.env.local
/.envrc.local